<div class="constrain">
  <div class="container mat-elevation-z8">
    <div class="header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <!-- ShortUrl Column -->
      <ng-container matColumnDef="shortUrl">
        <mat-header-cell *matHeaderCellDef> 短網址 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ baseShortUrl }}/{{ element.shortUrl }} </mat-cell>
      </ng-container>

      <!-- CustomizeUrl Column -->
      <ng-container matColumnDef="customizeUrl">
        <mat-header-cell *matHeaderCellDef fxHide.lt-sm="true"> 客製名稱 </mat-header-cell>
        <mat-cell *matCellDef="let element" fxHide.lt-sm="true"> {{ element.customizeUrl }} </mat-cell>
      </ng-container>

      <!-- OriginalUrl Column -->
      <ng-container matColumnDef="originalUrl">
        <mat-header-cell *matHeaderCellDef fxHide.lt-sm="true"> 長網址 </mat-header-cell>
        <mat-cell *matCellDef="let element" fxHide.lt-sm="true"> {{ element.originalUrl }} </mat-cell>
      </ng-container>

      <!-- ExpireDate Column -->
      <ng-container matColumnDef="expireDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm="true"> 有效日期 </mat-header-cell>
        <mat-cell *matCellDef="let element" fxHide.lt-sm="true"> {{ element.expireDate }} </mat-cell>
      </ng-container>

      <!-- Clicks Column -->
      <ng-container matColumnDef="clicks">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm="true"> 點擊次數 </mat-header-cell>
        <mat-cell *matCellDef="let element" fxHide.lt-sm="true"> {{ element.clicks }} </mat-cell>
      </ng-container>

      <!-- IsActive Column -->
      <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm="true"> 是否啟用 </mat-header-cell>
        <mat-cell *matCellDef="let element" fxHide.lt-sm="true">
          <mat-slide-toggle [checked]="element.isActive"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <!-- Utility Column -->
      <ng-container matColumnDef="utility">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div fxLayout="row" fxLayoutAlign="end">
            <button color="accent" mat-icon-button matTooltip="編輯" matTooltipPosition="left" aria-label="編輯" (click)="openEditDialog(element)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button color="accent" mat-icon-button matTooltip="二維條碼" matTooltipPosition="right" aria-label="二維條碼" (click)="openQrCodeDialog(element)">
              <mat-icon>crop_free</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
