<mat-drawer-container>
  <mat-drawer-content>
    <div class="constrain">
      <h1 class="mat-h1">簡化你的網址連結</h1>
      <form class="shorten-form">
        <div class="input-container">
          <mat-form-field>
            <input matInput placeholder="您的原始網址" value="">
            <mat-error>必填欄位</mat-error>
          </mat-form-field>
          <button color="accent" mat-raised-button>產生短網址</button>
        </div>
        <h3 class="mat-h3">簡化後的網址連結會使用 {{ shortenDomain }}XXXX 的樣式呈現</h3>
      </form>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
