.constrain {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 24px 30px;
}

.shorten-form {
  min-width: 150px;
  width: calc(100% - 32px);
  margin: 10px 0;
}

mat-form-field {
  width: calc(100% - 32px);
  max-width: 550px;
}
